.link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.float_right {
    float: right;
}

.padded-left {
    padding-left: 5px;
}

.btn-ans:hover {
    background-color: #0069d9;
}